<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>

  <!-- Favicons -->
  <link href="img/icon.png" rel="icon">
  <link href="img/icon.png" rel="apple-touch-icon">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <div class="container h-75 bg-primary mt-5 rounded shadow">
    <div class="row aling-items-stretch h-100">

      <div class="col d-none d-lg-block bg-white col-md-5 col-lg-5 col-xl-6 rounded contenedor">
        <img class="centrar" src="img/laboratorio.jpg">
      </div>

      <div class="col bg-white p-1 rounded-end ">

        <div class="text-end">
          <span> <a href="index.html">Regresar</a></span>
        </div>


        <h2 class="fw-bold text-center py-2">Registro a <br>AgendaLab</h2>

        <form action="#" class="px-5">
          <div class="mb-1">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre"  required>
          </div>
          <div class="mb-1">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" name="apellido"  required>
          </div>
          <div class="mb-1">
            <label class="form-label">Usuario</label>
            <input type="text" class="form-control" name="usuario"  required>
          </div>
          <div class="mb-1">
            <label class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" name="email"  required>
          </div>
          <div class="mb-1">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="Contraseña"  required>
          </div>
          <div class="mb-4">
            <label for="confirmar" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" name="confirmar"  required>
          </div>

          <div class="container w-75 d-grid mb-4">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>

          <div class="container py-3">
            <div class="mt-auto text-center text-md-start">
              <div class="d-flex justify-content-center">
                <span>¿Ya tengo cuenta? <a href="/login">Iniciar Sesión</a></span> <br>
              </div>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container py-5 mt-auto text-center text-md-start">
      <div class="copyright d-flex justify-content-center">
        <p>&copy; Copyright <strong><span>AgendaLAB</span></strong>. All Rights Reserved </p>
      </div>
      <div class="credits d-flex justify-content-center">
        <p>Desarrollado por <a href="...">Equipo 5|Grupo 3</a></p>
      </div>
    </div>

  </footer>


  <script src="bootstrap.bundle.min.js"></script>
</body>

</html>